/*Formatação da página*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

html {
    scroll-behavior: smooth; 
}

:target {
    scroll-margin-top: 120px;
}

/*Estilização da barra de rolagem*/
body::-webkit-scrollbar {
    width: 3px;
    height: 3px; /* A altura só é vista quando a rolagem é horizontal */
}
  
body::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #7E57C2;
}

/*estilização scroll seção quem sou*/

.about-me-paragraph::-webkit-scrollbar {
    width: 3px;
    height: 3px; /* A altura só é vista quando a rolagem é horizontal */
}
.about-me-paragraph::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}
.about-me-paragraph::-webkit-scrollbar-thumb {
    background-color: white;
}

/*estilização scroll galeria de projetos*/

.gallery-list::-webkit-scrollbar {
    width: 3px;
    height: 3px; /* A altura só é vista quando a rolagem é horizontal */
}
.gallery-list::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}
.gallery-list::-webkit-scrollbar-thumb {
    background-color: #7E57C2;
}


.knowledg ul::-webkit-scrollbar {
    width: 3px;
    height: 3px; /* A altura só é vista quando a rolagem é horizontal */
}
.knowledg ul::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}
.knowledg ul::-webkit-scrollbar-thumb {
    background-color: white;
}